h1 {
  position: absolute;
  left: 50%;
  top: 50%;
  /* transform: translate(-50%,-50%); */
  translate: -50% -50%;
  background-color: orange;
}

.first {
}

.second {
}

ul {
  list-style: none;
}

.userCard {
  border: 1px solid black;
  padding: 2rem;

  & img {
    width: 100px;
    height: 100px;
    background-color: gray;
  }

  .strong {
    font-weight: bold;
    color: black;
  }
}

span {
  /* display: inline-block; */
}

.ground {
  width: 400px;
  height: 300px;
  border: 5px solid black;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #66cd7b;
}

#ball {
  transition: all 0.3s;
}

.emotion {
  font-size: 2rem;
  position: absolute;
  pointer-events: none;
}

section {
  padding: 1rem;
  background-color: orange;
}
article {
  padding: 1rem;
  background-color: hotpink;
}
p {
  padding: 1rem;
  background-color: dodgerblue;
}

nav ul {
  display: flex;
  gap: 2rem;
  list-style: none;
  li {
    padding: 1rem;
  }
}
